[submodule "dircolors/dircolors-solarized"]
	path = dircolors/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/csapprox"]
	path = vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/autoload_cscope"]
	path = vim/bundle/autoload_cscope
	url = https://github.com/tadpol/autoload_cscope.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-slime"]
	path = vim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
